/* 字体 */
@import 'lxgw-wenkai-screen-webfont/style.css';

.VPHome {
  // 定义遮罩样式
  background: radial-gradient(ellipse,
      rgba(var(--bg-gradient-home), 1) 0%,
      rgba(var(--bg-gradient-home), 0) 150%);

  // 电脑
  @media screen and (min-width:768px) {
    // 自定义首页背景图
    &::before {
      // 背景图切换
      background-image: var(--bg-image, url('/img/bg.jpg'));
      /* 设置初始图片 */
      transition: background-image 0.6s;
      background-size: cover;
    }
  }

  // 手机
  @media screen and (max-width:768px) {
    // 自定义首页背景图
    &::before {
      background-image: url("https://fastly.jsdelivr.net/gh/PuppetRuler/drawing-board@main/images/1726620907142bg.jpg");
      background-size: cover;
    }
  }
}

body,
code,
pre {
  /* Screen version */
  font-family: "Menlo", "Fira Code", "Monaco", "LXGW WenKai Screen", sans-serif;
}

@media screen and (min-width:768px) {
  html {
    cursor: url("./assets/browserPointer.cur"), pointer;
  }
  aside.VPSidebar {
    transition: opacity 0.75s, transform 0.5s ease !important;
    transition-behavior: normal, normal !important;
    transition-duration: 0.5s, 0.5s !important;
    transition-timing-function: ease, ease !important;
    transition-delay: 0.1s !important;
    transition-property: opacity, transform !important;
  }
  .clearTransition {
    transition: 0s;
  }
  .nav-search-btn-wait {
    transition: 0.25s !important;
  }
}

@media screen and (min-width:1280px) {
  .VPDoc {
    &>.container {
      width: 950px;
      &>.content {
        width: 70%;
      }
      &>.aside {
        width: 30%;
      }
    }
  }
}
@media screen and (min-width:1600px) {
  .VPDoc {
    &>.container {
      width: 1100px;
      &>.content {
        width: 70%;
      }
      &>.aside {
        width: 30%;
      }
    }
  }
}

canvas#universe {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  /* 确保鼠标事件可以穿透canvas，作用于下方元素 */
}
// 确保galaxy-canvas生效
.content-wrapper {
  position: relative;
  z-index: 1;
}

.hiddenCanvas {
  left: -100% !important;
}

.Doc_Transform {
  transition: 0.5s ease-in-out;
}

@font-face {
  font-family: "iconfont";
  /* Project id 4697000 */
  src: url('//at.alicdn.com/t/c/font_4697000_a83v3rg20z.woff2?t=1727350974406') format('woff2'),
    url('//at.alicdn.com/t/c/font_4697000_a83v3rg20z.woff?t=1727350974406') format('woff'),
    url('//at.alicdn.com/t/c/font_4697000_a83v3rg20z.ttf?t=1727350974406') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yueduye-mulu:before {
  content: "\e61c";
}

#closeButton {
  position: fixed;
  right: 68px;
  bottom: 120px;
  padding: 4px;
  background-color: var(--vp-c-brand-soft);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  color: var(--vp-c-brand-1);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow-hover);
  }
}

.vp-doc h2 {
  text-decoration: underline dotted #409eff 3px;
  text-underline-offset: 5px;
}

/* .vitepress/theme/style/link.css */

/* YouTube */
.vp-doc a[href^="https://www.youtube.com/"]:before {
  content: '';
  background-image: url(/svg/youtube.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-size: cover;
  margin-right: 4px;
}

/* 哔哩哔哩 */
.vp-doc a[href^="https://www.bilibili.com/"]:before {
  content: '';
  background-image: url(/svg/bilibili.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-size: cover;
  top: -2px;
  margin-right: 4px;
}