/* 字体 */
@import 'lxgw-wenkai-screen-webfont/style.css';
.VPHome {
  // 定义遮罩样式
  background: radial-gradient(ellipse,
      rgba(var(--bg-gradient-home), 1) 0%,
      rgba(var(--bg-gradient-home), 0) 150%);

  // 电脑
  @media screen and (min-width:768px) {
    // 自定义首页背景图
    &::before {
      // 背景图切换
      background-image: var(--bg-image, url("https://fastly.jsdelivr.net/gh/PuppetRuler/drawing-board@main/images/1727145787406bg_p0.jpg"));
      /* 设置初始图片 */
      transition: background-image 0.6s;
      background-size: cover;
    }
  }

  // 手机
  @media screen and (max-width:768px) {
    // 自定义首页背景图
    &::before {
      background-image: url("https://fastly.jsdelivr.net/gh/PuppetRuler/drawing-board@main/images/1726620907142bg.jpg");
      background-size: cover;
    }
  }
}

body,
code,
pre {
  /* Screen version */
  font-family: "Menlo", "Fira Code", "Monaco", "LXGW WenKai Screen", sans-serif;
}

@media screen and (min-width:768px) {
  html {
    cursor: url("./assets/browserPointer.cur"), pointer;
  }
}

canvas#universe {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  /* 确保鼠标事件可以穿透canvas，作用于下方元素 */
}
// 确保galaxy-canvas生效
.content-wrapper {
  position: relative;
  z-index: 1;
}


.fade-out {
  transform: translateX(-6.1%);
  /* 向左移动一点 */
  transition: 0.5s ease-in-out;
}
.fade-in {
  transform: translateX(5.4%);
  /* 向右移动一点 */
  transition: 0.5s ease-in-out;
}
.VPLocalNav,.VPContent,.VPDoc {
  transition: 0.5s ease-in-out;
}

@font-face {
  font-family: "iconfont";
  /* Project id 4697000 */
  src: url('//at.alicdn.com/t/c/font_4697000_a83v3rg20z.woff2?t=1727350974406') format('woff2'),
    url('//at.alicdn.com/t/c/font_4697000_a83v3rg20z.woff?t=1727350974406') format('woff'),
    url('//at.alicdn.com/t/c/font_4697000_a83v3rg20z.ttf?t=1727350974406') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yueduye-mulu:before {
  content: "\e61c";
}

#closeButton {
  position: fixed;
  right: 50px;
  bottom: 100px;
  border-radius: 50%;
  color: var(--vp-c-brand-1);
  &:hover{
    cursor: pointer;
  }
}